.counterSection{
    background-color: #E3FF73;padding: 200px 0; margin-bottom: 100px;

    .counterContent{
        text-align: center;

        h3{font-size: 100px;font-weight: 700;letter-spacing: -1.5px;}
        p{font-size: 20px;font-weight: 500;}
        span{font-weight: 500;}
    }
}