.contactUsForm{
    margin-bottom: 120px;
    @media only screen and (max-width:767px){
        margin-bottom: 90px;
    }

    .container{
        max-width: 1040px;

        h6{
            font-size: 14px;
            letter-spacing: 2px;
        }
        
        p{
            font-size: 56px;
            font-weight: 700;
            line-height: 1.3;
            max-width: 900px;
            @media only screen and (max-width:767px){
                font-size: 24px;
            }
        }

        .miniContainer{
            // background-color: #000;
            background: linear-gradient(130deg, #ebf0fa 0%, rgb(229, 215, 252) 100%);
            border-radius: 32px;
            padding: 60px 0px;
            @media only screen and (max-width:767px){
                padding: 50px 16px;
            }

            form{
                max-width: 640px;
                margin: 0 auto;

                label{
                    color: #000;
                }

                .form-control{
                    padding: 16px;
                    border-radius: 12px;
                    box-shadow: unset;
                    border-color: transparent;
                    @media only screen and (max-width:767px){
                        padding: 12px;
                    }

                    &::placeholder{
                        color: #4a4342;
                        font-size: 14px;
                        font-weight: 500;
                        opacity: 0.5;
                    }
                }

                textarea{
                    width: 100%;
                    padding: 16px;
                    border-radius: 12px;
                    outline: unset;
                    border: unset;
                    @media only screen and (max-width:767px){
                        padding: 12px;
                    }

                    &::placeholder{
                        font-size: 14px;
                        font-weight: 500;
                        color: #4a4342;
                        opacity: 0.5;
                    }
                }
            }
            
        }
        
    }
}