.header{
    position: fixed;
    width: 100%;
    top: 0;    
    z-index: 10;
    margin-top: 20px ;
    // min-height: 72px;u
    .subHeader{
        padding: 20px;
        border-radius: 16px;
        background-color: #fff;
        // background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .nav-link{
        font-size: 16px;
        font-weight: 500;
        margin-right: 12px;
    }

}

//footer
.footer{
    background-color: #000;
    padding: 80px 40px;
    color: #fff;
}